/****** Base ******/
body {
    font-family: nunit0;
    margin: auto;
    padding: 0;
    background: blue;
    box-sizing: border-box;
    }

.banner {
    align-content: center;
}

/****** Layout ******/



/****** Header ******/






/*********Media Queries*********/


